// theme colors
$primary: lighten(#FF6000, 5%);
$lightgrey: lighten(#1F2227, 50%);
$info: #f6c31c;

// color palette
$colors: (
  "primary": $primary,
  "secondary": black,
  "info": $info,
  "blue": #1919e6,
  "red": #e61919,
  "yellow": #e6e619,
  "green": #19e635,
  "orange": #ffa600,
  "purple": #9900ff,
  "lightgrey" : $lightgrey,
  "grey" : #1F2227,
  "beige": #FFDBAA,
  "light" : #D5FFE4,
  "white": white,
);

// spacing
$base-padding: 0.5rem;
$base-margin: 0.5rem;

// borders
$base-border-thickness: 1px;
$base-border-radius: 0.5rem;

// box-shadow
$base-box-shadow: 1px 3px 5px rgba(0,0,0,0.1);

// font sizes
$base-font-size: 1rem;
$font-size-sm: $base-font-size * 0.75;
$font-size-lg: $base-font-size * 1.5;
$font-size-xl: $base-font-size * 2;
$font-size-xxl: $base-font-size * 3;