%flex-layout {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom:  $base-margin * 5;
}
.navbar {
  @extend %flex-layout;
  position: sticky;
  top: 0;
  background-color: black;

  .logo {
    font-size: 2rem;
    color: #ff701a;
    font-weight: bold;
  }

  .link {
    text-decoration: none;
    font-weight: 500;
    width: 5rem;
    color: white;
    &:hover {
      color: #ff701a;
    }
  }
  .active {
    font-size: 1.125rem;
    color: #ff701a;
  }
  .nav-container {
    @include sm {
      display: none;
    }
    @include md {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 1.5rem;
    }
  }
}

.expanded {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding-top: $base-padding * 8;
  padding-right: $base-padding * 5;
  padding-left: $base-padding * 5;
  padding-bottom: $base-padding * 5;
  width: 20vw;
  height: 15vh;
  .link {
    color: black;
    font-weight: 500;
  }
}
.link-container {
  background-color: white;
  position: absolute;
  top: -1.4rem;
  right: -0.65rem;
  border-radius: $base-border-radius;
}