@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&family=Roboto&display=swap");
.gap-0 {
  gap: 0;
}

.gap-1 {
  gap: 0.25rem;
}

.gap-2 {
  gap: 0.5rem;
}

.gap-3 {
  gap: 1rem;
}

.gap-4 {
  gap: 2rem;
}

.gap-5 {
  gap: 4rem;
}

.justify-start {
  justify-content: start;
}

.justify-center {
  justify-content: center;
}

.justify-end {
  justify-content: end;
}

.justify-between {
  justify-content: space-between;
}

.justify-around {
  justify-content: space-around;
}

.items-start {
  align-items: start;
}

.items-center {
  align-items: center;
}

.items-end {
  align-items: end;
}

.header {
  display: flex;
  flex-wrap: wrap;
}

@media (min-width: 0px) {
  #top-header {
    flex-direction: column;
    gap: 5rem;
    padding: 0.75rem 0.75rem;
  }
}
@media (min-width: 960px) {
  #top-header {
    flex-direction: row;
    gap: 15rem;
    padding: 0.75rem 5rem;
  }
}

@media (min-width: 0px) {
  #main {
    flex-direction: column;
    gap: 5rem;
    padding: 0.75rem 0.75rem;
  }
}
@media (min-width: 960px) {
  #main {
    flex-direction: row;
    gap: 15rem;
    padding: 0.75rem 5rem;
  }
}

@media (min-width: 0px) {
  .cols-1-sm {
    box-sizing: border-box;
    flex-grow: 0;
    width: 8.3333333333%;
  }
  .cols-2-sm {
    box-sizing: border-box;
    flex-grow: 0;
    width: 16.6666666667%;
  }
  .cols-3-sm {
    box-sizing: border-box;
    flex-grow: 0;
    width: 25%;
  }
  .cols-4-sm {
    box-sizing: border-box;
    flex-grow: 0;
    width: 33.3333333333%;
  }
  .cols-5-sm {
    box-sizing: border-box;
    flex-grow: 0;
    width: 41.6666666667%;
  }
  .cols-6-sm {
    box-sizing: border-box;
    flex-grow: 0;
    width: 50%;
  }
  .cols-7-sm {
    box-sizing: border-box;
    flex-grow: 0;
    width: 58.3333333333%;
  }
  .cols-8-sm {
    box-sizing: border-box;
    flex-grow: 0;
    width: 66.6666666667%;
  }
  .cols-9-sm {
    box-sizing: border-box;
    flex-grow: 0;
    width: 75%;
  }
  .cols-10-sm {
    box-sizing: border-box;
    flex-grow: 0;
    width: 83.3333333333%;
  }
  .cols-11-sm {
    box-sizing: border-box;
    flex-grow: 0;
    width: 91.6666666667%;
  }
  .cols-12-sm {
    box-sizing: border-box;
    flex-grow: 0;
    width: 100%;
  }
}
@media (min-width: 720px) {
  .cols-1-md {
    box-sizing: border-box;
    flex-grow: 0;
    width: 8.3333333333%;
  }
  .cols-2-md {
    box-sizing: border-box;
    flex-grow: 0;
    width: 16.6666666667%;
  }
  .cols-3-md {
    box-sizing: border-box;
    flex-grow: 0;
    width: 25%;
  }
  .cols-4-md {
    box-sizing: border-box;
    flex-grow: 0;
    width: 33.3333333333%;
  }
  .cols-5-md {
    box-sizing: border-box;
    flex-grow: 0;
    width: 41.6666666667%;
  }
  .cols-6-md {
    box-sizing: border-box;
    flex-grow: 0;
    width: 50%;
  }
  .cols-7-md {
    box-sizing: border-box;
    flex-grow: 0;
    width: 58.3333333333%;
  }
  .cols-8-md {
    box-sizing: border-box;
    flex-grow: 0;
    width: 66.6666666667%;
  }
  .cols-9-md {
    box-sizing: border-box;
    flex-grow: 0;
    width: 75%;
  }
  .cols-10-md {
    box-sizing: border-box;
    flex-grow: 0;
    width: 83.3333333333%;
  }
  .cols-11-md {
    box-sizing: border-box;
    flex-grow: 0;
    width: 91.6666666667%;
  }
  .cols-12-md {
    box-sizing: border-box;
    flex-grow: 0;
    width: 100%;
  }
}
@media (min-width: 960px) {
  .cols-1-lg {
    box-sizing: border-box;
    flex-grow: 0;
    width: 8.3333333333%;
  }
  .cols-2-lg {
    box-sizing: border-box;
    flex-grow: 0;
    width: 16.6666666667%;
  }
  .cols-3-lg {
    box-sizing: border-box;
    flex-grow: 0;
    width: 25%;
  }
  .cols-4-lg {
    box-sizing: border-box;
    flex-grow: 0;
    width: 33.3333333333%;
  }
  .cols-5-lg {
    box-sizing: border-box;
    flex-grow: 0;
    width: 41.6666666667%;
  }
  .cols-6-lg {
    box-sizing: border-box;
    flex-grow: 0;
    width: 50%;
  }
  .cols-7-lg {
    box-sizing: border-box;
    flex-grow: 0;
    width: 58.3333333333%;
  }
  .cols-8-lg {
    box-sizing: border-box;
    flex-grow: 0;
    width: 66.6666666667%;
  }
  .cols-9-lg {
    box-sizing: border-box;
    flex-grow: 0;
    width: 75%;
  }
  .cols-10-lg {
    box-sizing: border-box;
    flex-grow: 0;
    width: 83.3333333333%;
  }
  .cols-11-lg {
    box-sizing: border-box;
    flex-grow: 0;
    width: 91.6666666667%;
  }
  .cols-12-lg {
    box-sizing: border-box;
    flex-grow: 0;
    width: 100%;
  }
}
@media (min-width: 1200px) {
  .col-1-xl {
    box-sizing: border-box;
    flex-grow: 0;
    width: 8.3333333333%;
  }
  .col-2-xl {
    box-sizing: border-box;
    flex-grow: 0;
    width: 16.6666666667%;
  }
  .col-3-xl {
    box-sizing: border-box;
    flex-grow: 0;
    width: 25%;
  }
  .col-4-xl {
    box-sizing: border-box;
    flex-grow: 0;
    width: 33.3333333333%;
  }
  .col-5-xl {
    box-sizing: border-box;
    flex-grow: 0;
    width: 41.6666666667%;
  }
  .col-6-xl {
    box-sizing: border-box;
    flex-grow: 0;
    width: 50%;
  }
  .col-7-xl {
    box-sizing: border-box;
    flex-grow: 0;
    width: 58.3333333333%;
  }
  .col-8-xl {
    box-sizing: border-box;
    flex-grow: 0;
    width: 66.6666666667%;
  }
  .col-9-xl {
    box-sizing: border-box;
    flex-grow: 0;
    width: 75%;
  }
  .col-10-xl {
    box-sizing: border-box;
    flex-grow: 0;
    width: 83.3333333333%;
  }
  .col-11-xl {
    box-sizing: border-box;
    flex-grow: 0;
    width: 91.6666666667%;
  }
  .col-12-xl {
    box-sizing: border-box;
    flex-grow: 0;
    width: 100%;
  }
}
.text-primary {
  color: #ff701a;
}

.bg-primary {
  background-color: #ff701a;
}

.text-secondary {
  color: black;
}

.bg-secondary {
  background-color: black;
}

.text-info {
  color: #f6c31c;
}

.bg-info {
  background-color: #f6c31c;
}

.text-blue {
  color: #1919e6;
}

.bg-blue {
  background-color: #1919e6;
}

.text-red {
  color: #e61919;
}

.bg-red {
  background-color: #e61919;
}

.text-yellow {
  color: #e6e619;
}

.bg-yellow {
  background-color: #e6e619;
}

.text-green {
  color: #19e635;
}

.bg-green {
  background-color: #19e635;
}

.text-orange {
  color: #ffa600;
}

.bg-orange {
  background-color: #ffa600;
}

.text-purple {
  color: #9900ff;
}

.bg-purple {
  background-color: #9900ff;
}

.text-lightgrey {
  color: #98a0ad;
}

.bg-lightgrey {
  background-color: #98a0ad;
}

.text-grey {
  color: #1F2227;
}

.bg-grey {
  background-color: #1F2227;
}

.text-beige {
  color: #FFDBAA;
}

.bg-beige {
  background-color: #FFDBAA;
}

.text-light {
  color: #D5FFE4;
}

.bg-light {
  background-color: #D5FFE4;
}

.text-white {
  color: white;
}

.bg-white {
  background-color: white;
}

.find-btn {
  padding: 0.5rem 1rem;
  cursor: pointer;
  background-color: #ff701a;
  border-radius: 0.5rem;
  color: white;
}
.find-btn:hover {
  background-color: #ff8033;
}

.burger-btn {
  font-size: 1.5rem;
  cursor: pointer;
}
@media (min-width: 0px) {
  .burger-btn {
    display: block;
  }
}
@media (min-width: 720px) {
  .burger-btn {
    display: none;
  }
}

.arrow-next {
  padding: 0.3rem 0.75rem;
  border-radius: 0.5rem;
  background-color: #FFDBAA;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  cursor: pointer;
}

.arrow-prev {
  padding: 0.3rem 0.75rem;
  border-radius: 0.5rem;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  cursor: pointer;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 2.5rem;
}

.navbar {
  position: sticky;
  top: 0;
  background-color: black;
}
.navbar .logo {
  font-size: 2rem;
  color: #ff701a;
  font-weight: bold;
}
.navbar .link {
  text-decoration: none;
  font-weight: 500;
  width: 5rem;
  color: white;
}
.navbar .link:hover {
  color: #ff701a;
}
.navbar .active {
  font-size: 1.125rem;
  color: #ff701a;
}
@media (min-width: 0px) {
  .navbar .nav-container {
    display: none;
  }
}
@media (min-width: 720px) {
  .navbar .nav-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
  }
}

.expanded {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding-top: 4rem;
  padding-right: 2.5rem;
  padding-left: 2.5rem;
  padding-bottom: 2.5rem;
  width: 20vw;
  height: 15vh;
}
.expanded .link {
  color: black;
  font-weight: 500;
}

.link-container {
  background-color: white;
  position: absolute;
  top: -1.4rem;
  right: -0.65rem;
  border-radius: 0.5rem;
}

.p-0 {
  padding: 0;
}

.p-half {
  padding: 0.25rem;
}

.p-1 {
  padding: 0.5rem;
}

.p-2 {
  padding: 0.625rem;
}

.p-3 {
  padding: 0.75rem;
}

.p-4 {
  padding: 0.875rem;
}

.p-5 {
  padding: 1rem;
}

.p-6 {
  padding: 1.125rem;
}

.p-7 {
  padding: 1.25rem;
}

.p-8 {
  padding: 1.375rem;
}

.p-9 {
  padding: 1.5rem;
}

.p-10 {
  padding: 5rem;
}

.p-auto {
  padding: auto;
}

.pl-0 {
  padding-left: 0;
}

.pl-half {
  padding-left: 0.25rem;
}

.pl-1 {
  padding-left: 0.5rem;
}

.pl-2 {
  padding-left: 0.625rem;
}

.pl-3 {
  padding-left: 0.75rem;
}

.pl-4 {
  padding-left: 0.875rem;
}

.pl-5 {
  padding-left: 1rem;
}

.pl-6 {
  padding-left: 1.125rem;
}

.pl-7 {
  padding-left: 1.25rem;
}

.pl-8 {
  padding-left: 1.375rem;
}

.pl-9 {
  padding-left: 1.5rem;
}

.pl-10 {
  padding-left: 5rem;
}

.pl-auto {
  padding-left: auto;
}

.pr-0 {
  padding-right: 0;
}

.pr-half {
  padding-right: 0.25rem;
}

.pr-1 {
  padding-right: 0.5rem;
}

.pr-2 {
  padding-right: 0.625rem;
}

.pr-3 {
  padding-right: 0.75rem;
}

.pr-4 {
  padding-right: 0.875rem;
}

.pr-5 {
  padding-right: 1rem;
}

.pr-6 {
  padding-right: 1.125rem;
}

.pr-7 {
  padding-right: 1.25rem;
}

.pr-8 {
  padding-right: 1.375rem;
}

.pr-9 {
  padding-right: 1.5rem;
}

.pr-10 {
  padding-right: 5rem;
}

.pr-auto {
  padding-right: auto;
}

.pt-0 {
  padding-top: 0;
}

.pt-half {
  padding-top: 0.25rem;
}

.pt-1 {
  padding-top: 0.5rem;
}

.pt-2 {
  padding-top: 0.625rem;
}

.pt-3 {
  padding-top: 0.75rem;
}

.pt-4 {
  padding-top: 0.875rem;
}

.pt-5 {
  padding-top: 1rem;
}

.pt-6 {
  padding-top: 1.125rem;
}

.pt-7 {
  padding-top: 1.25rem;
}

.pt-8 {
  padding-top: 1.375rem;
}

.pt-9 {
  padding-top: 1.5rem;
}

.pt-10 {
  padding-top: 5rem;
}

.pt-auto {
  padding-top: auto;
}

.pb-0 {
  padding-bottom: 0;
}

.pb-half {
  padding-bottom: 0.25rem;
}

.pb-1 {
  padding-bottom: 0.5rem;
}

.pb-2 {
  padding-bottom: 0.625rem;
}

.pb-3 {
  padding-bottom: 0.75rem;
}

.pb-4 {
  padding-bottom: 0.875rem;
}

.pb-5 {
  padding-bottom: 1rem;
}

.pb-6 {
  padding-bottom: 1.125rem;
}

.pb-7 {
  padding-bottom: 1.25rem;
}

.pb-8 {
  padding-bottom: 1.375rem;
}

.pb-9 {
  padding-bottom: 1.5rem;
}

.pb-10 {
  padding-bottom: 5rem;
}

.pb-auto {
  padding-bottom: auto;
}

.m-0 {
  margin: 0;
}

.m-half {
  margin: 0.25rem;
}

.m-1 {
  margin: 0.5rem;
}

.m-2 {
  margin: 0.625rem;
}

.m-3 {
  margin: 0.75rem;
}

.m-4 {
  margin: 0.875rem;
}

.m-5 {
  margin: 1rem;
}

.m-6 {
  margin: 1.125rem;
}

.m-7 {
  margin: 1.25rem;
}

.m-8 {
  margin: 1.375rem;
}

.m-9 {
  margin: 1.5rem;
}

.m-10 {
  margin: 5rem;
}

.m-auto {
  margin: auto;
}

.ml-0 {
  margin-left: 0;
}

.ml-half {
  margin-left: 0.25rem;
}

.ml-1 {
  margin-left: 0.5rem;
}

.ml-2 {
  margin-left: 0.625rem;
}

.ml-3 {
  margin-left: 0.75rem;
}

.ml-4 {
  margin-left: 0.875rem;
}

.ml-5 {
  margin-left: 1rem;
}

.ml-6 {
  margin-left: 1.125rem;
}

.ml-7 {
  margin-left: 1.25rem;
}

.ml-8 {
  margin-left: 1.375rem;
}

.ml-9 {
  margin-left: 1.5rem;
}

.ml-10 {
  margin-left: 5rem;
}

.ml-auto {
  margin-left: auto;
}

.mr-0 {
  margin-right: 0;
}

.mr-half {
  margin-right: 0.25rem;
}

.mr-1 {
  margin-right: 0.5rem;
}

.mr-2 {
  margin-right: 0.625rem;
}

.mr-3 {
  margin-right: 0.75rem;
}

.mr-4 {
  margin-right: 0.875rem;
}

.mr-5 {
  margin-right: 1rem;
}

.mr-6 {
  margin-right: 1.125rem;
}

.mr-7 {
  margin-right: 1.25rem;
}

.mr-8 {
  margin-right: 1.375rem;
}

.mr-9 {
  margin-right: 1.5rem;
}

.mr-10 {
  margin-right: 5rem;
}

.mr-auto {
  margin-right: auto;
}

.mt-0 {
  margin-top: 0;
}

.mt-half {
  margin-top: 0.25rem;
}

.mt-1 {
  margin-top: 0.5rem;
}

.mt-2 {
  margin-top: 0.625rem;
}

.mt-3 {
  margin-top: 0.75rem;
}

.mt-4 {
  margin-top: 0.875rem;
}

.mt-5 {
  margin-top: 1rem;
}

.mt-6 {
  margin-top: 1.125rem;
}

.mt-7 {
  margin-top: 1.25rem;
}

.mt-8 {
  margin-top: 1.375rem;
}

.mt-9 {
  margin-top: 1.5rem;
}

.mt-10 {
  margin-top: 5rem;
}

.mt-auto {
  margin-top: auto;
}

.mb-0 {
  margin-bottom: 0;
}

.mb-half {
  margin-bottom: 0.25rem;
}

.mb-1 {
  margin-bottom: 0.5rem;
}

.mb-2 {
  margin-bottom: 0.625rem;
}

.mb-3 {
  margin-bottom: 0.75rem;
}

.mb-4 {
  margin-bottom: 0.875rem;
}

.mb-5 {
  margin-bottom: 1rem;
}

.mb-6 {
  margin-bottom: 1.125rem;
}

.mb-7 {
  margin-bottom: 1.25rem;
}

.mb-8 {
  margin-bottom: 1.375rem;
}

.mb-9 {
  margin-bottom: 1.5rem;
}

.mb-10 {
  margin-bottom: 5rem;
}

.mb-auto {
  margin-bottom: auto;
}

.opacity-10 {
  opacity: 0.1;
}

.opacity-20 {
  opacity: 0.2;
}

.opacity-30 {
  opacity: 0.3;
}

.opacity-40 {
  opacity: 0.4;
}

.opacity-50 {
  opacity: 0.5;
}

.opacity-60 {
  opacity: 0.6;
}

.opacity-70 {
  opacity: 0.7;
}

.opacity-80 {
  opacity: 0.8;
}

.opacity-90 {
  opacity: 0.9;
}

.opacity-100 {
  opacity: 1;
}

.rounded {
  border-radius: 0.5rem;
}

.rounded-none {
  border-radius: 0;
}

.rounded-xs {
  border-radius: 0.125rem;
}

.rounded-sm {
  border-radius: 0.25rem;
}

.rounded-lg {
  border-radius: 1rem;
}

.rounded-full {
  border-radius: 50%;
}

.d-none {
  display: none;
}

.d-block {
  display: block;
}

.d-flex {
  display: flex;
}

.d-inline {
  display: inline;
}

.d-inline-block {
  display: inline-block;
}

.d-grid {
  display: grid;
}

.flex-row {
  flex-direction: row;
}

.flex-col {
  flex-direction: column;
}

.w-0 {
  width: 0;
}

.w-1 {
  width: 0.25rem;
}

.w-2 {
  width: 0.5rem;
}

.w-3 {
  width: 1rem;
}

.w-4 {
  width: 1.5rem;
}

.w-5 {
  width: 2rem;
}

.w-6 {
  width: 2.5rem;
}

.w-7 {
  width: 3rem;
}

.w-8 {
  width: 3.5rem;
}

.w-9 {
  width: 4rem;
}

.w-10 {
  width: 5rem;
}

.w-11 {
  width: 20rem;
}

.w-full {
  width: 100%;
}

.w-screen {
  width: 100vw;
}

.h-0 {
  height: 0;
}

.h-1 {
  height: 0.25rem;
}

.h-2 {
  height: 0.5rem;
}

.h-3 {
  height: 1rem;
}

.h-4 {
  height: 1.5rem;
}

.h-5 {
  height: 2rem;
}

.h-6 {
  height: 2.5rem;
}

.h-7 {
  height: 3rem;
}

.h-8 {
  height: 3.5rem;
}

.h-9 {
  height: 4rem;
}

.h-10 {
  height: 5rem;
}

.h-11 {
  height: 20rem;
}

.h-full {
  height: 100%;
}

.h-screen {
  height: 100vh;
}

.text-xs {
  font-size: 0.75rem;
}

.text-sm {
  font-size: 0.875rem;
}

.text-base {
  font-size: 1rem;
}

.text-lg {
  font-size: 1.125rem;
}

.text-xl {
  font-size: 1.25rem;
}

.text-2xl {
  font-size: 1.5rem;
}

.text-3xl {
  font-size: 1.875rem;
}

.text-4xl {
  font-size: 2.25rem;
}

.text-5xl {
  font-size: 3rem;
}

.font-thin {
  font-weight: 100;
}

.font-extralight {
  font-weight: 200;
}

.font-light {
  font-weight: 300;
}

.font-normal {
  font-weight: 400;
}

.font-medium {
  font-weight: 500;
}

.font-semibold {
  font-weight: 600;
}

.font-bold {
  font-weight: 700;
}

.font-extrabold {
  font-weight: 800;
}

.font-black {
  font-weight: 900;
}

.position-static {
  position: static;
}

.position-fixed {
  position: fixed;
}

.position-absolute {
  position: absolute;
}

.position-relative {
  position: relative;
}

.position-sticky {
  position: sticky;
}

.top-0 {
  top: 0;
}

.top-1 {
  top: 1rem;
}

.top-2 {
  top: 2.5rem;
}

.top-3 {
  top: 3rem;
}

.top-4 {
  top: 3.5rem;
}

.top-5 {
  top: 4rem;
}

.top-6 {
  top: 4.5rem;
}

.top-7 {
  top: 5rem;
}

.top-8 {
  top: 6rem;
}

.top-9 {
  top: 7rem;
}

.top-10 {
  top: 8rem;
}

.left-0 {
  left: 0;
}

.left-1 {
  left: 1rem;
}

.left-2 {
  left: 2.5rem;
}

.left-3 {
  left: 3rem;
}

.left-4 {
  left: 3.5rem;
}

.left-5 {
  left: 4rem;
}

.left-6 {
  left: 4.5rem;
}

.left-7 {
  left: 5rem;
}

.left-8 {
  left: 6rem;
}

.left-9 {
  left: 7rem;
}

.left-10 {
  left: 8rem;
}

.bottom-0 {
  bottom: 0;
}

.bottom-1 {
  bottom: 1rem;
}

.bottom-2 {
  bottom: 2.5rem;
}

.bottom-3 {
  bottom: 3rem;
}

.bottom-4 {
  bottom: 3.5rem;
}

.bottom-5 {
  bottom: 4rem;
}

.bottom-6 {
  bottom: 4.5rem;
}

.bottom-7 {
  bottom: 5rem;
}

.bottom-8 {
  bottom: 6rem;
}

.bottom-9 {
  bottom: 7rem;
}

.bottom-10 {
  bottom: 8rem;
}

.right-0 {
  right: 0;
}

.right-1 {
  right: 1rem;
}

.right-2 {
  right: 2.5rem;
}

.right-3 {
  right: 3rem;
}

.right-4 {
  right: 3.5rem;
}

.right-5 {
  right: 4rem;
}

.right-6 {
  right: 4.5rem;
}

.right-7 {
  right: 5rem;
}

.right-8 {
  right: 6rem;
}

.right-9 {
  right: 7rem;
}

.right-10 {
  right: 8rem;
}

* {
  margin: 0;
  font-family: "Poppins", sans-serif;
}

body {
  margin: 0;
  color: #1F2227;
}

.active {
  color: #ff701a;
  font-weight: bold;
}

.decoration-none {
  text-decoration: none;
}

.top-img {
  border-top-left-radius: 5rem;
  border-top-right-radius: 5rem;
  border-bottom-right-radius: 5rem;
  object-fit: cover;
}
@media (min-width: 0px) {
  .top-img {
    width: 90vw;
    height: 45vh;
  }
}
@media (min-width: 960px) {
  .top-img {
    width: 45vw;
    height: 55vh;
  }
}

.header-text {
  padding-top: 0.875rem;
}
@media (min-width: 0px) {
  .header-text {
    font-size: 2.25rem;
  }
}
@media (min-width: 960px) {
  .header-text {
    font-size: 3rem;
  }
}

.filter {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
  border-radius: 0.75rem;
  padding-top: 1.25rem;
  padding-right: 2rem;
  padding-bottom: 1.25rem;
  padding-left: 2rem;
  color: white;
  background-color: #050506;
  position: absolute;
  bottom: -2.5rem;
  z-index: 10;
}
.filter .select:disabled {
  background-color: #1F2227;
  padding-top: 0.6rem;
  padding-right: 1rem;
  padding-bottom: 0.6rem;
  padding-left: 1rem;
  border-radius: 0.75rem;
  border: none;
  color: white;
}
.filter .place {
  background-color: #1F2227;
  padding-top: 0.6rem;
  padding-right: 5rem;
  padding-bottom: 0.6rem;
  padding-left: 0.6rem;
  border-radius: 0.75rem;
}

/*# sourceMappingURL=index.css.map */
